*
{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Courier New', Courier, monospace;
}
body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0, 0, 0, 0.7);
    border: 3px solid red;
}
.left_Side
{
    position: relative;
    padding: 30px;
    background: #003147;
}
.Perfil
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
.imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    line-height: 1.4em;
}
.InformacionContact
{
    margin-top: 20px;
}
h3
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 300%;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.InformacionContact ul 
{
    position: relative;
}
.InformacionContact ul li 
{
    position: relative;
    list-style: none;
    margin: 10px auto;
    cursor: pointer;
}
.InformacionContact ul li span 
{
    color: #fff;
    font-weight: 100;
}
.InformacionContact ul li .icon 
{
    display: inline-block;
    width: 15px;
    font-size: 18px;
    color: #03a9f4;
}
.InformacionContact ul li span a
{
    color: #fff;
    font-weight: 100;
    text-decoration: none;
}
.InformacionContact_educacion
{
    margin-top: 30px;
}
.InformacionContact_educacion li
{
    margin-bottom: 15px;
    list-style: none;
}
.InformacionContact_educacion h5
{
    color: #03a9f4;
    font-weight: 700;
}
.InformacionContact_educacion h4:nth-child(2)
{
    color: #fff;
    font-weight: 700;
}
.InformacionContact_educacion h4
{
    color: #fff;
    font-weight: 400;
}
.InformacionContact_idiomas
{
    border: 3px solid #0400ff;
}
.InformacionContact_idiomas
{
    margin-top: 30px;
}
.InformacionContact_idiomas .percent
{
    position: relative;
    display: block;
    background: #081921;
    width: 100%;
    height: 6px;
    margin-top: 10px;
}
.InformacionContact_idiomas .percent div
{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: #0ff;
}
.InformacionContact_idiomas li .banderas
{
    background: 3px solid #0400ff;
    width: 30px;
    height: 30px;
    position: relative;
}
.InformacionContact_idiomas ul li span 
{
    color: #fff;
    font-weight: 100;
}
.InformacionContact_idiomas ul li
{
    line-height: 20px;
    list-style: none;
}